.part1{background-color: Pearl Bush;display:flex;justify-content: space-between;}
.part2{text-align: center;background-color:gray;}
.bigone{display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 100px;}
#card{background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease;}
    #card:hover {
        transform: translateY(-10px);
    }
.icon{width: 50px;}
span{color: yellow;}
.p1{font-size: 51px;}
.btn{cursor: pointer;background-color: yellow;padding: 10px 20px;border-radius: 10px;}
.btn:hover {
    background-color: #e6a825;
}
.p2{font-size: 51px;}
.p3{color: yellow;}
.images1{width: 500px;}